name: SankhyaUI Sample

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Push
    steps:
      - name: git-checkout
        uses: actions/checkout@v4
        
      - uses: pnpm/action-setup@v4
        name: Install pnpm
      
      - name: Install all dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Upload ftp
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: ${{ secrets.FTP_SERVER }}
          user: ${{ secrets.STAG_SANKHYAUI_SAMPLE }}
          password: ${{ secrets.FTP_PASSWORD }}
          localDir: "dist"
          remoteDir: "/public_html"